body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('../images/logged_in.jpg') center/cover no-repeat fixed;
}

.container {
    display: flex;
    height: 100vh; 
    overflow: hidden;
}

.navigation {
    width: 180px;
    min-height: 100vh;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); 
}

.navigation h2 {
    color: #db0000;
    border-bottom: 2px solid #db0000;
    padding-bottom: 10px; 
}

.navigation a.nav {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.navigation a.nav:hover {
    transform: scale(1.05);
    transition: transform ease .4s;
}

.container .navigation .sep {
    border-bottom: 2px solid #777;
    margin-bottom: 5px;
}

.content {
    flex: 1; 
    overflow-y: auto; 
}

.logout-btn {
    background-color: #75000c;
    color: #ddd;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.logout-btn:hover {
    background-color: #500000;
}

.detail-container {
    width: 100%;
}

.elementary h1 {
    color: #ddd;
    margin: 30px 10px 10px;
}

.add-btn {   
    background-color: #b00000;
    color: #ddd;
    border: none;
    padding: 0 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    height: 32px;
    margin-left: 10px;
}

.elementary .sep {
    width: 98%;
    border-bottom: 2px solid #999;
    margin: 10px 10px;
}

table {
    color: #ddd;
}

.detailsform {
    color: #ddd;
    width: 95%;
    margin-bottom: 50px;
}

.detailsform h1 {
    color: #ddd;
    margin: 30px 24px 10px;
}

.detailsform .sep {
    width: 100%;
    border-bottom: 2px solid #999;
    margin: 10px 24px;
}

.detailsform .entryform {
    color: #eee;
    margin: 30px 24px 10px;
}

.entryform label {
    margin: 5px;
    color: #eee;
    font-size: 1em;
    width: 100px;
    display: inline-block;
}

.entryform input {
    width: 180px;
    height: 32px;
    background: none;  
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin-bottom: 30px;
    color: #eee;
    font-size: 0.9em;
}

input[type="date"] {
    font-size: 1.1em; 
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

.entryform select {
    width: 150px;
    height: 32px;
    background: none;
    padding: 0 10px;
    box-sizing: border-box;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin-bottom: 30px;
    color: #eee;
    font-size: 0.9em;
}

.entryform option {
    padding: 20px;
    color: #000;
}

.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row {
    flex: 1;
}

.button-group .cancel-button {
    margin-left: 5px;
    text-decoration: none;
    color: #ddd;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    background-color: #003c5e; 
}

.entryform button{
    margin-left: 40px;
    height: 32px;
    color: #ddd;
    border: none;
    padding: 0 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    background-color: #950000;
}

.table-container{
    margin: 0 10px 50px 10px;
}

.display-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}

.display-table th {
    border: 2px solid #ffffff88;
    padding: 5px;
    text-align: center;
    background-color: #4a4a4ab7;
    color: #ddd;
}

.display-table td {
    border: 2px solid #ffffff88;
    padding: 5px;
    text-align: center;
    background-color: #282828b7;
    color: #ddd;
}

td .edit-button {
    height: 26px;
    padding: 0 10px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    align-items: center;
    background-color:#006942;
}

.edit-button a {
    text-decoration: none;
    color: #ddd;
}

.delete-button button {
    cursor: pointer;
    background-color: #1c3a6f;
    color: #ddd;
    height: 26px;
    font-size: 1em;
    border: none;
    border-radius: 2px;
}



